header.header 
      .container 
        h1.titulo-barra Bienes
          span.titulo-barra2 Rices
        
        nav(class="navegacion")
            a(href="" class="a") Mis propiedades
            a(href="" class="a") Mi perfil
            a(href="" class="salir") Cerrar sesion