doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Bienes raices | #{pagina}
    link(rel="stylesheet", href="/public/css/app.css")
    h1  Bienvenidos a bienes raices
  body.min-h-screen-bg-grey-50 

    main(class="mx-auto container mt-18 px-2")
      block contenido 