/* Body y configuraciones basicas */

body {
    font-family: Arial, sans-serif;
    background-color: #f0fafb;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

main {
    margin-top: 4.5rem;
}

.hola {
    color: red;
    font-size: 2rem;
    text-align: center;
}


/* Registro y login */

.titulo h1 {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 800;
}

.titulo span {
    font-weight: 400;
}

.subtitulo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.5rem;
}

.formulario {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 28rem;
    background-color: #3b82f6;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #e5e7eb;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

input.input-text {
    width: 91.5%;
    padding: 0.75rem 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

input.input-text::placeholder {
    color: #9ca3af;
}

input.submit {
    width: 100%;
    padding: 0.75rem;
    background-color: #4f46e5;
    color: white;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

input.submit:hover {
    background-color: green;
}

.crear-cuenta {
    color: #f9fafb;
    text-align: center;
}

.enlace, a {
    color: #000;
    cursor: pointer; 
    margin-left: 10px;
}

/* Estilos para los errores */
.errores {
    max-width: 448px; 
    margin: 40px auto;
}

.mostrar-errores {
    background-color: #dc2626; 
  color: #ffffff; 
  text-transform: uppercase; 
  text-align: center; 
  padding: 8px; 
  margin-bottom: 4px; 
  font-weight: bold;
}

/* Mensaje de confirmacion de cuenta */
.mensaje-confirmacion {
    font-size: 1.25rem; 
    font-weight: 700; 
    text-align: center;
    margin: 2.5rem 0; 
}

/* Mensajes de confirmacion de cuenta. */
.mostrar-mensaje-confirmacion {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    max-width: 28rem;
    margin: 0 auto;
}

.mensaje-confirmacion {
    text-align: center;
    font-weight: 700;
    color: #000;
}

.bg-red-500 {
    background-color: #f56565;
}

.bg-green-500 {
    background-color: #48bb78;
}

/* Estilos que se muestran en la pagina que confirma la creacion de la cuenta. */
.vamos-login {
    text-align: center;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #2563eb;
    text-transform: uppercase;
    margin-top: 2.5rem;
    display: block;
}