h1.text-center.text-2xl.font-bold.mt-6 Bienvenidos a nuestro proyecto

if autenticado
  p.text-lg.mt-4 Mira todas nuestras propiedades que tenemos para vos
else
  p.text-lg.mt-4 Por favor, inicia sesión para continuar
  button.bg-blue-500.text-white.font-medium.py-2.px-4.rounded.mt-2
  a(href="./login.pug" class="hover:underline") Inicia sesión aquí
