extends ../layout/index

block contenido
  .titulo
    h1.bienvenida Bienes
      span.rices Rices
    h2.subtitulo #{pagina}

  if errores
    .errores
      each error in errores
        p.mostrar-errores= error.msg

  .formulario
    .form-container
      form(method="POST" action="/auth/cambiarContrasena")
        .form-group
          label(for="email") Email
          input#email.input-text(type="email" name="email" placeholder="Ingresa tu email" required)
        input.submit(type="submit" value="Recuperar contraseña")
        p.crear-cuenta ¿Ya tienes cuenta?
          a.enlace(href="/login") Iniciar sesión
