extends ../layout/index

block contenido
  .titulo
    h1.bienvenida Bienes
      span.rices Rices
    h2.subtitulo #{paginaRecuperarCuenta}

  .formulario
    .form-container
      form(action="#")
        .form-group
          label(for="email") Email
          input#email.input-text(type="email" name="email" placeholder="Ingresa tu email")
        input.submit(type="submit" value="Iniciar sesión")
        p.crear-cuenta Recupera tu cuenta para iniciar sesión
          a.enlace(href="/login") Iniciar sesión