extends ../layout/index

block contenido
  .titulo
    h1.bienvenida Bienes
      span.rices Rices
    h2.subtitulo #{pagina}

  .formulario
    .form-container
      form(method="post", action="/auth/registro")
        .form-group
          label(for="nombre") Nombre
          input#nombre.input-text(type="text" name="nombre" placeholder="Ingresa tu nombre" required)

        .form-group
          label(for="email") Email
          input#email.input-text(type="email" name="email" placeholder="Ingresa tu email" required)

        .form-group
          label(for="password") Contraseña
          input#password.input-text(type="password" name="password" placeholder="Ingresa tu contraseña" required)

        .form-group
          label(for="confirm-password") Repetir contraseña
          input#confirm-password.input-text(type="password" name="confirm-password" placeholder="Repite tu contraseña" required)

        input.submit(type="submit" value="Crear cuenta")

        p.crear-cuenta ¿Ya tienes cuenta? 
          a.enlace(href="/login") Inicia sesión
