extends ../layout/index

block contenido
  .titulo
    h1.bienvenida Bienes
      span.rices Rices
    h2.subtitulo #{pagina}

  if errores
    .errores
      each error in errores
        p.mostrar-errores= error

  .formulario
    .form-container
      form(method="POST" noValidate)
        .form-group
          label(for="password") Nueva contraseña
          input#email.input-text(type="password" name="password" placeholder="Ingresa tu nueva contraseña" required)
        input.submit(type="submit" value="Restablecer contraseña")
        p.crear-cuenta ¿Ya tienes cuenta?
          a.enlace(href="/login") Iniciar sesión
